@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
body {
  font-family: "Noto Sans TC", sans-serif;
  color: #231815;
  background-image: url(../img/bg.webp);
  background-size: 100%;
  background-position: 0 0;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 1199px) {
  body {
    padding-bottom: 55px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,
select,
textarea,
button {
  outline: none;
  border: 0;
  border-radius: 0;
}

img {
  display: block;
  max-width: 100%;
}

main {
  overflow: hidden;
}

.container {
  max-width: 1500px;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  padding: 10px 15px;
  background-color: #0069a9;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header li {
  color: #fff;
  cursor: pointer;
  padding: 0 15px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 0.1em;
}

.header li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 12px;
  background-color: #fff;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header li:first-child::before {
  display: none;
}

.header li:hover {
  opacity: 0.7;
}

.kv {
  padding-top: 13.37vw;
  padding-bottom: 15.85vw;
  background-image: url(../img/kv-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.kv_logo {
  width: 385px;
  display: block;
  margin: 0 auto 5.1vw;
}

.kv_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 1.19vw;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 56, 84, 0.4);
}

.kv_title_text {
  font-size: 49px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.kv_title_x {
  margin: 0 10px;
  font-size: 38px;
  font-weight: 300;
}

.kv_title_core {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px 10px;
  border: 1px solid #fff100;
  border-radius: 100px;
  font-size: 41px;
  font-weight: 700;
  margin-left: 20px;
  letter-spacing: 0.1em;
}

.kv_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.kv_info li {
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 56, 84, 0.4);
  position: relative;
  padding: 0 20px;
}

.kv_info li::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 27px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 56, 84, 0.4);
          box-shadow: 1px 1px 3px rgba(0, 56, 84, 0.4);
  top: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.kv_info li:first-child {
  padding-left: 0;
}

.kv_info li:last-child {
  padding-right: 0;
}

.kv_info li:last-child::after {
  display: none;
}

.kv_info_free {
  font-size: 32px;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.kv_info_size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kv_info_size_num {
  font-size: 37px;
  font-weight: 900;
  letter-spacing: 0.05em;
}

.kv_info_size_unit {
  color: #00a0de;
  font-size: 18px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-shadow: none;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 56, 84, 0.4);
          box-shadow: 1px 1px 3px rgba(0, 56, 84, 0.4);
  margin: 0 10px;
  font-weight: 700;
}

.kv_info_size_text {
  font-size: 33px;
  letter-spacing: 0.05em;
  font-weight: 700;
}

.kv_info_phone {
  font-size: 37px;
  font-weight: 900;
  letter-spacing: 0.05em;
}

.kv_mountain-1 {
  width: 40%;
  left: -6.94vw;
  bottom: -1.46vw;
  z-index: 1;
}

.kv_mountain-2 {
  width: 31.42%;
  right: 0;
  bottom: 0;
}

.kv_bird-1 {
  width: 6.91vw;
  top: 8.98vw;
  left: 21.26vw;
}

.kv_bird-2 {
  width: 24.77vw;
  top: 11.67vw;
  right: 10.5vw;
}

.kv_phone {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 56, 84, 0.4);
  font-size: 40px;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .kv {
    padding-top: 30vw;
    padding-bottom: 45.56vw;
    background-image: url(../img/kv-bg-m.webp);
  }
  .kv_logo {
    margin-bottom: 15.28vw;
    max-width: 280px;
  }
  .kv_title {
    display: block;
  }
  .kv_title_core {
    margin-left: 0;
    margin-top: 13px;
  }
  .kv_info {
    display: block;
    padding: 0 15px;
    position: relative;
  }
  .kv_info li {
    padding: 0;
  }
  .kv_info li::after {
    display: none;
  }
  .kv_info_free {
    font-size: 40px;
    text-align: center;
  }
  .kv_info::before, .kv_info::after {
    position: absolute;
    content: "";
    width: 2px;
    height: calc(100% - 20px);
    background-color: #fff;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 56, 84, 0.41);
            box-shadow: 1px 1px 3px rgba(0, 56, 84, 0.41);
    top: 50%;
    -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
  }
  .kv_info::before {
    left: 0;
  }
  .kv_info::after {
    right: 0;
  }
}

@media screen and (max-width: 575px) {
  .kv_logo {
    max-width: 200px;
  }
  .kv_title_text {
    font-size: 39px;
  }
  .kv_title_x {
    font-size: 30px;
  }
  .kv_title_core {
    font-size: 31px;
  }
  .kv_info {
    padding: 0 10px;
  }
  .kv_info_free {
    font-size: 29px;
  }
  .kv_info_size_num {
    font-size: 28px;
  }
  .kv_info_size_unit {
    font-size: 14px;
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }
  .kv_info_size_text {
    font-size: 25px;
  }
  .kv_phone {
    font-size: 30px;
  }
  .kv_mountain-1 {
    width: 82.5vw;
    bottom: -2.5vw;
    left: -26.39vw;
  }
  .kv_bird-1 {
    width: 22.61vw;
    top: 49.72vw;
    left: -5.56vw;
  }
  .kv_bird-2 {
    width: 41.01vw;
    top: 11.67vw;
    right: -12.22vw;
  }
}

.highlight {
  color: #fff100;
}

.deco {
  position: absolute;
}

.title-en {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: 0.05em;
}

.title-en.title-white {
  color: rgba(255, 255, 255, 0.26);
}

.title-en.title-blue {
  color: rgba(0, 105, 169, 0.4);
}

.title-ch {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 15px;
  letter-spacing: 0.05em;
}

.title-ch.title-white {
  color: #fff;
}

.title-ch.title-blue {
  color: #0069a9;
}

@media screen and (max-width: 991px) {
  .title-en {
    font-size: 21px;
  }
  .title-ch {
    font-size: 22px;
  }
}

.text {
  font-size: 23px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.text-white {
  color: #fff;
}

@media screen and (max-width: 991px) {
  .text {
    font-size: 12px;
  }
}

.map {
  background-color: #14599c;
  padding-top: 6.82vw;
  position: relative;
}

.map_text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  -webkit-transform: translateY(7vw);
          transform: translateY(7vw);
}

.map_symbol {
  width: 30px;
  margin: 0 5px;
}

.map .title-ch {
  padding: 0 20px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.map .title-ch::before, .map .title-ch::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 32px;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.map .title-ch::before {
  left: 0;
}

.map .title-ch::after {
  right: 0;
}

.map_bird {
  width: 6.91vw;
  top: 11.8vw;
  left: 15.32vw;
}

.map .source {
  right: 20px;
  bottom: 3.21vw;
}

.map_main {
  width: 100%;
}

.map_hint {
  position: absolute;
  width: 65%;
  bottom: 45vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 991px) {
  .map {
    padding-top: 35vw;
  }
  .map_text {
    position: absolute;
    width: 100%;
    top: 10vw;
    left: 0;
  }
  .map_inner {
    overflow-x: auto;
  }
  .map_main {
    width: 900px;
  }
  .map .title-en {
    margin-bottom: 20px;
  }
  .map .title-ch::before, .map .title-ch::after {
    width: 4px;
    height: 16px;
  }
  .map_symbol {
    width: 16px;
  }
  .map .source {
    right: 10px;
    bottom: 10px;
  }
}

.source {
  position: absolute;
  font-size: 18px;
  color: #fff;
  margin: 0;
  text-shadow: 0 0 2px #003854;
}

@media screen and (max-width: 991px) {
  .source {
    font-size: 8px;
  }
}

.tech {
  position: relative;
  margin-bottom: 11.72vw;
}

.tech_text {
  position: absolute;
  padding: 40px 43px 40px 0;
  border-radius: 0 97px 97px 0;
  background-color: rgba(0, 55, 147, 0.18);
  top: 10.51vw;
  left: 0;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.tech_text .title {
  padding-left: 12.04vw;
}

.tech_text .title-en {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  color: rgba(255, 255, 255, 0.57);
}

.tech_text .title-en span {
  display: block;
}

.tech_text .title-ch {
  padding-left: 12.04vw;
  padding-bottom: 15px;
  border-bottom: 2px solid #fff;
  position: relative;
}

.tech_text .title-ch::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  bottom: 0;
  right: 0;
  -webkit-transform: translate(100%, 50%);
          transform: translate(100%, 50%);
}

.tech_text .text {
  padding-left: 12.04vw;
}

.tech .source {
  bottom: 8.04vw;
  right: 20px;
}

.tech_bird {
  width: 24.77vw;
  bottom: -7.88vw;
  left: 10px;
}

@media screen and (max-width: 991px) {
  .tech_text {
    top: 33.89vw;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-radius: 0 30px 30px 0;
    width: 76%;
  }
  .tech_text .title {
    padding-left: 14.44vw;
  }
  .tech_text .title-ch {
    border-width: 1px;
  }
  .tech_text .title-ch::after {
    width: 5px;
    height: 5px;
  }
  .tech_text .text {
    padding-left: 14.44vw;
    margin: 0;
  }
  .tech .source {
    right: 10px;
    bottom: 20.28vw;
  }
  .tech_bird {
    width: 50.92vw;
    bottom: 8.33vw;
    left: -7.22vw;
  }
}

.slider.text-pic .slider_pic {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.slider.text-pic .slider_text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding-right: 60px;
}

.slider.pic-text .slider_text {
  padding-left: 60px;
}

.slider_pic {
  width: 63%;
}

.slider_text {
  width: 37%;
}

.slider_text .title-ch {
  font-size: 50px;
}

.slider_item {
  position: relative;
  width: 100%;
  padding-bottom: 75%;
}

.slider_item > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.slider_item > p {
  position: absolute;
  color: #fff;
  margin: 0;
  font-size: 24px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
  letter-spacing: 0.2em;
  top: 20px;
  right: 15px;
}

.slider_arrow {
  width: 40px;
  height: 40px;
}

.slider_arrow > img {
  width: 100%;
}

.slider_arrow::after {
  display: none;
}

.slider_line {
  width: 100%;
  height: 2px;
  background-color: #0069a9;
  position: relative;
  margin: 50px 0;
}

.slider_line::before, .slider_line::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0069a9;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider_line::before {
  left: -10px;
}

.slider_line::after {
  right: -10px;
}

.slider_pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_pagination .swiper-pagination-bullet {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #0069a9;
  opacity: 1;
  margin-right: 8px;
  position: relative;
}

.slider_pagination .swiper-pagination-bullet-active {
  background-color: #0069a9;
}

.slider_pagination .swiper-pagination-bullet::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 2px;
  background-color: #0069a9;
  top: 50%;
  left: calc(100% + 2px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider_pagination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.slider_pagination .swiper-pagination-bullet:last-child::after {
  display: none;
}

.slider .text {
  text-align: justify;
}

@media screen and (max-width: 991px) {
  .slider {
    padding-left: 40px;
    padding-right: 40px;
  }
  .slider > .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    padding-right: 0;
  }
  .slider_pic {
    -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
            order: 2 !important;
    width: 100%;
  }
  .slider_text {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
    width: 100%;
    padding-right: 35px !important;
    padding-left: 35px !important;
    padding-bottom: 50px;
  }
  .slider_text .title-ch {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .slider_line {
    margin-top: 0;
    margin-bottom: 20px;
    height: 1px;
  }
  .slider_line::before, .slider_line::after {
    width: 5px;
    height: 5px;
  }
  .slider_line::before {
    left: -5px;
  }
  .slider_line::after {
    right: -5px;
  }
  .slider_pagination {
    position: static !important;
    margin: 32px auto 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .slider_pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-width: 1px;
  }
  .slider_pagination .swiper-pagination-bullet::after {
    height: 1px;
    left: calc(100% + 1px);
  }
  .slider_item > p {
    font-size: 8px;
    top: 5px;
    right: 5px;
  }
  .slider_arrow {
    width: 25px;
    height: 25px;
  }
}

.transport {
  position: relative;
  padding-bottom: 21.77vw;
}

.transport .slider_text {
  padding-top: 65px;
  position: relative;
}

.transport .slider_pagination {
  position: absolute;
  bottom: 0;
  right: calc(100% + 60px);
}

.transport_tree-1 {
  width: 5.6vw;
  bottom: 0;
  left: 0;
}

.transport_tree-2 {
  width: 10.25vw;
  bottom: 3.72vw;
  right: -2.3vw;
}

@media screen and (max-width: 991px) {
  .transport {
    padding-bottom: 49.44vw;
  }
  .transport .slider_text {
    padding-top: 0;
    position: static;
  }
  .transport .slider_pagination {
    position: static;
    margin-top: 32px;
  }
  .transport_tree-1 {
    width: 13.27vw;
    bottom: 8.89vw;
    left: 10.83vw;
  }
}

.chill {
  padding-bottom: 11.28vw;
  position: relative;
}

.chill .slider_pagination {
  margin-top: 30px;
}

.chill_textSwiper {
  margin-top: 55px;
}

.chill_textSwiper_title ul {
  background: -webkit-gradient(linear, left top, right top, from(#9cc54f), color-stop(96%, transparent), to(transparent));
  background: linear-gradient(to right, #9cc54f 0%, transparent 96%, transparent 100%);
}

.chill_textSwiper_title ul li {
  color: #005726;
  text-shadow: 0 0 3px #fff;
}

.chill_tree {
  width: 5.6vw;
  right: 8.81vw;
  bottom: 3vw;
}

.intro_title {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro_title h4 {
  font-size: 46px;
  font-weight: 700;
  margin: 0;
}

.intro_title ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  padding: 5px 20px;
  border-radius: 100px 0 0 100px;
  position: relative;
}

.intro_title ul::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.intro_title ul li {
  font-size: 34px;
  font-weight: 700;
}

.intro_line {
  width: 28px;
}

.intro_line > img {
  width: 100%;
}

.intro_text {
  font-size: 23px;
  font-weight: 300;
  margin: 0;
  text-align: justify;
}

@media screen and (max-width: 1700px) {
  .intro_title h4 {
    font-size: 36px;
  }
  .intro_title ul li {
    font-size: 24px;
  }
  .intro_text {
    font-size: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .intro_title {
    display: block;
  }
  .intro_title ul {
    margin-top: 15px;
    margin-left: 0;
  }
  .intro_text {
    font-size: 16px;
  }
}

@media screen and (max-width: 991px) {
  .intro_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
  }
  .intro_title h4 {
    font-size: 19px;
  }
  .intro_title ul {
    padding: 2px 12px;
    margin: 0 0 0 8px;
  }
  .intro_title ul li {
    font-size: 14px;
  }
  .intro_title ul::before {
    width: 2px;
    height: 2px;
    left: 7px;
  }
  .intro_line {
    width: 15px;
  }
  .intro_text {
    font-size: 12px;
  }
}

.beauty {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 11vw 0 7vw;
  position: relative;
}

.beauty.light {
  background-image: url(../img/beauty-light.webp);
}

.beauty.dark {
  background-image: url(../img/beauty-dark.webp);
}

.beauty.dark .intro_text {
  color: #fff;
}

.beauty_title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.beauty .slider_line {
  background-color: #fff;
}

.beauty .slider_line::before, .beauty .slider_line::after {
  background-color: #fff;
}

.beauty .text,
.beauty .intro {
  max-width: 450px;
  width: 100%;
}

.beauty .intro {
  padding: 35px 0;
}

.beauty .intro_title h4 {
  color: #0069a9;
}

.beauty .intro_title ul {
  background: -webkit-gradient(linear, left top, right top, from(#0069a9), color-stop(93%, transparent), to(transparent));
  background: linear-gradient(to right, #0069a9 0%, transparent 93%, transparent 100%);
}

.beauty .intro_title ul li {
  color: #fff;
}

.beauty .intro_text {
  color: #0069a9;
}

.beauty_mode button {
  padding: 10px 50px;
  border: 1px solid #0069a9;
  border-radius: 19px;
  color: #0069a9;
  font-size: 22px;
  font-weight: 900;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
  margin-bottom: 20px;
}

.beauty_mode button.active {
  background-color: #0069a9;
  color: #fff;
}

.beauty_mountain {
  width: 24.09vw;
  left: 0;
  bottom: 0;
}

.beauty_bird {
  width: 15.13vw;
  left: 24.94vw;
  bottom: 6.86vw;
}

.beauty .source {
  right: 20px;
  bottom: 20px;
}

.beauty_tree {
  width: 17.4vw;
  top: -10vw;
  right: -1.94vw;
}

.beauty_intro {
  position: relative;
}

.beauty_intro .intro {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.beauty_intro .intro.light {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.beauty_intro .intro.active {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 1199px) {
  .beauty .intro_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .beauty .intro_title ul {
    margin-left: 20px;
    margin-top: 0;
  }
}

@media screen and (max-width: 991px) {
  .beauty {
    padding: 21.67vw 0 59.44vw;
  }
  .beauty.light {
    background-image: url(../img/beauty-light-m.webp);
  }
  .beauty.dark {
    background-image: url(../img/beauty-dark-m.webp);
  }
  .beauty > .container {
    max-width: 250px;
  }
  .beauty_mode button {
    padding: 6px 20px;
    font-size: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
  }
  .beauty .intro_title ul {
    margin-left: 10px;
    margin-top: 0;
  }
}

.contact {
  height: 1140px;
  padding: 100px 0;
  position: relative;
}

.contact_form {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}

.contact iframe {
  display: block;
}

.contact_tree-1 {
  width: 5.84vw;
  top: 11.61vw;
  right: 13.1vw;
}

.contact_tree-2 {
  width: 5.6vw;
  bottom: 10.11vw;
  left: 22.88vw;
}

.contact_bird {
  width: 43.08vw;
  top: 5.6vw;
  left: -17.12vw;
}

.contact_mountain-1 {
  width: 31.42vw;
  left: 0;
  bottom: 0;
}

.contact_mountain-2 {
  width: 54.91vw;
  right: -19.3vw;
  bottom: -3.74vw;
}

.footer {
  position: relative;
  padding-bottom: 57px;
  background-color: #fff;
}

.footer_top {
  padding-top: 40px;
  background-color: #fff;
  position: relative;
}

.footer_top h2 {
  font-size: 38px;
  font-weight: 900;
  color: #0069a9;
  letter-spacing: 0.2em;
  padding-bottom: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 20px;
}

.footer_inform {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 50px;
}

.footer_inform_list:first-child {
  margin-right: 70px;
}

.footer_inform_list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.footer_inform_list > li p {
  margin: 0;
}

.footer_inform_list > li p.footer_inform_title {
  color: #0069a9;
  font-size: 22px;
  font-weight: 900;
  margin: 0;
  margin-right: 25px;
  position: relative;
  padding-left: 20px;
}

.footer_inform_list > li p.footer_inform_title::before {
  position: absolute;
  content: "";
  width: 7px;
  height: 7px;
  background-color: #0069a9;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.footer_inform_list > li p.footer_inform_content {
  margin: 0;
  font-size: 18px;
  letter-spacing: 0.05em;
}

.footer_bottom {
  text-align: center;
  padding: 30px 15px;
  background-color: #0069a9;
  z-index: 10;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.footer_bottom p {
  font-size: 18px;
  color: #fff;
  text-align: center;
  margin: 0;
  font-weight: 500;
}

.footer_bottom p a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.footer_bottom p a:hover {
  opacity: 0.7;
}

.footer_bird {
  width: 36.21vw;
  top: 35px;
  right: -5.28vw;
}

.footer_tree {
  width: 10.2vw;
  top: 10px;
  left: 3.89vw;
}

@media screen and (max-width: 767px) {
  .footer {
    padding-bottom: 0;
  }
  .footer_top {
    background-color: transparent;
  }
  .footer_top h2 {
    font-size: 22px;
    padding: 0 15px;
  }
  .footer_top h2::before, .footer_top h2::after {
    width: 2px;
    height: 17px;
  }
  .footer_inform {
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .footer_inform_list {
    margin: 0 !important;
  }
  .footer_inform_list:first-child {
    margin-right: 0;
  }
  .footer_inform_list > li {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer_inform_list > li p.footer_inform_title {
    font-size: 13px;
    width: 70px;
    padding-right: 0;
    padding-left: 10px;
    margin-right: 15px;
  }
  .footer_inform_list > li p.footer_inform_title::before {
    width: 4px;
    height: 4px;
  }
  .footer_inform_list > li p.footer_inform_content {
    width: calc(100% - 70px);
    margin-top: 1px;
    font-size: 12px;
  }
  .footer_bottom {
    padding: 5px 10px;
    background-color: #8ab841;
    position: static;
  }
  .footer_bottom p {
    font-size: 12px;
    padding: 0;
    background-color: transparent;
    color: #fff;
  }
  .footer_bottom p a {
    color: #fff;
  }
}

.sideBtn {
  position: fixed;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 20;
  overflow: hidden;
}

.sideBtn_top {
  height: 65px;
  width: 65px;
  margin-top: 20px;
}

.sideBtn_top li {
  height: 100%;
}

.sideBtn_top li a {
  height: 100%;
}

.sideBtn ul {
  background-color: #0069a9;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

.sideBtn li {
  position: relative;
}

.sideBtn li:first-child a {
  border-radius: 100px 100px 0 0;
}

.sideBtn li:last-child a {
  border-radius: 0 0 100px 100px;
}

.sideBtn li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  background-image: url(../img/divide.webp);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

.sideBtn li:last-child::after {
  display: none;
}

.sideBtn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
  height: 75px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.sideBtn a img {
  width: 50px;
  display: block;
  margin: 0 auto;
}

.sideBtn a span {
  display: block;
  width: 100%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin-top: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sideBtn a:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1500px) {
  .sideBtn {
    right: 20px;
  }
}

@media screen and (max-width: 1199px) {
  .sideBtn {
    width: 100%;
    top: inherit;
    -webkit-transform: none;
            transform: none;
    bottom: 0;
    right: 0;
  }
  .sideBtn_link {
    width: 75%;
  }
  .sideBtn_link > li {
    width: 33.3333%;
  }
  .sideBtn_top {
    width: 25%;
    height: 55px;
  }
  .sideBtn_top > li {
    width: 100%;
  }
  .sideBtn_top > li a {
    height: 55px;
  }
  .sideBtn ul {
    border-radius: 0;
    margin: 0;
  }
  .sideBtn li {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  .sideBtn li::after {
    display: none;
  }
  .sideBtn a {
    width: 100%;
    height: 55px;
    border-radius: 0 !important;
  }
  .sideBtn a img {
    width: 35px;
    margin-bottom: 1px;
  }
  .sideBtn a span {
    position: static;
    opacity: 1;
  }
}

.pic-popup {
  padding-top: 215px;
  padding-bottom: 312px;
}

.pic-popup_title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 36px;
}

.pic-popup_text {
  margin-bottom: 80px;
}

.pic-popup .title-ch {
  font-size: 52px;
  color: #0069a9;
  font-weight: 700;
  margin: 0;
  font-family: "Noto Serif TC", sans-serif;
  padding: 0 64px;
}

.pic-popup .title-en {
  font-size: 46px;
  font-family: "Noto Serif TC", sans-serif;
  margin: 0;
  color: #0069a9;
  opacity: 0.4;
  font-weight: 500;
  text-align: center;
}

.pic-popup .slider_line {
  margin: 20px 0 0;
}

.pic-popup_pic {
  padding: 16px;
  border-radius: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  display: block;
}

.pic-popup_main {
  position: relative;
  width: 100%;
  padding-bottom: 52%;
}

.pic-popup_main > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.pic-popup_main > p {
  position: absolute;
  margin: 0;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 0 10px #003510;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  letter-spacing: 0.05em;
}

.pic-popup_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(106, 144, 68, 0.38);
  top: 0;
  left: 0;
}

@media screen and (max-width: 991px) {
  .pic-popup {
    padding-top: 70px;
    padding-bottom: 110px;
  }
  .pic-popup .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .pic-popup_text {
    margin-bottom: 20px;
  }
  .pic-popup_title {
    margin-bottom: 12px;
  }
  .pic-popup .title-ch {
    font-size: 22px;
  }
  .pic-popup .title-en {
    font-size: 18px;
  }
  .pic-popup .slider_line {
    margin: 14px 0 0;
  }
  .pic-popup_pic {
    padding: 6px;
    border-radius: 8px;
  }
  .pic-popup_main {
    padding-bottom: 172%;
  }
  .pic-popup_main > p {
    font-size: 20px;
  }
}

.modal-dialog {
  margin-top: 100px;
}

.modal-content {
  border: 0;
}

.modal-body {
  padding: 0;
}

.arrange {
  padding-top: 200px;
  padding-bottom: 250px;
  position: relative;
}

.arrange .container {
  max-width: 1400px;
}

.arrange .title-en {
  text-align: center;
  font-size: 18px;
  margin-bottom: 56px;
  font-family: "Noto Serif TC", sans-serif;
}

.arrange_content {
  position: relative;
  padding: 36px 100px;
}

.arrange_content .swiper-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.arrange_content .swiper-arrow#arrange-prev {
  left: 0;
}

.arrange_content .swiper-arrow#arrange-next {
  right: 0;
}

.arrange_content .swiper-arrow svg {
  width: 26px;
  height: 46px;
}

.arrange_content .swiper-arrow svg path {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.arrange_content .swiper-arrow:hover {
  background-color: #0069a9;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.arrange_content .swiper-arrow:hover svg path {
  fill: #fff;
}

.arrange_content .swiper-pagination {
  position: absolute;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  bottom: 0;
}

.arrange_pic {
  width: 100%;
}

.arrange-deco-1 {
  width: 9.7%;
  left: 7.92%;
  bottom: 4.01vw;
}

.arrange-deco-2 {
  width: 26.28vw;
  right: 0;
  bottom: 0;
}

.arrange-deco-3 {
  width: 61.39%;
  left: -39.45%;
  bottom: 13.61vw;
}

.arrange-deco-4 {
  width: 36.06%;
  left: 19.45%;
  bottom: 15.28vw;
  mix-blend-mode: multiply;
}

@media screen and (max-width: 991px) {
  .arrange {
    padding-top: 32px;
    padding-bottom: 220px;
  }
  .arrange_content {
    padding: 0;
  }
  .arrange_content .swiper-pagination {
    position: static;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
  }
  .arrange_content .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin-right: 4px;
  }
  .arrange_content .swiper-arrow {
    position: static;
    -webkit-transform: none;
            transform: none;
    width: 20px;
    height: 20px;
  }
  .arrange_content .swiper-arrow svg {
    width: 8px;
    height: 13px;
  }
  .arrange_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .arrange_item > img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .arrange_func {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 6px;
    margin-top: 24px;
  }
  .arrange_arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4px;
  }
  .arrange-deco-2 {
    width: 51.11%;
    right: 0;
    bottom: 26.11vw;
  }
}

.decoration {
  position: absolute;
}

.life {
  position: relative;
}

.life-deco-1 {
  width: 22.94%;
  top: 4.55vw;
  left: 16.2vw;
}

.life-deco-2 {
  width: 41.34%;
  left: -24.77%;
  bottom: 0;
}

.life-deco-3 {
  width: 7.56%;
  right: 9.75%;
  bottom: 2vw;
}

.life-deco-4 {
  width: 61.39%;
  left: -34.44%;
  bottom: 0;
}

.life-deco-5 {
  width: 22.25%;
  right: 7.78%;
  bottom: 0;
}

@media screen and (max-width: 991px) {
  .life-deco-1 {
    width: 33.21%;
    top: 5.5vw;
    left: -6.11vw;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
}
/*# sourceMappingURL=style.css.map */